altgraph==0.17.4
cachetools==3.1.1
certifi==2023.7.22
chardet==5.2.0
charset-normalizer==3.3.2
contourpy==1.2.0
cycler==0.12.1
exceptiongroup==1.1.3
fonttools==4.44.3
google-api-core==2.14.0
google-api-python-client==1.7.2
google-auth==1.8.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
googleapis-common-protos==1.61.0
httplib2==0.22.0
idna==3.4
iniconfig==2.0.0
joblib==1.3.2
kiwisolver==1.4.5
macholib==1.16.3
matplotlib==3.8.1
modulegraph==0.19.6
nba_api==1.4.0
numpy==1.26.2
oauthlib==3.2.2
packaging==23.2
pandas==2.1.4
Pillow==10.1.0
pluggy==1.3.0
protobuf==4.25.1
psutil==5.9.6
py2app==0.28.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyobjc-core==10.0
pyobjc-framework-Cocoa==10.0
pyparsing==3.1.1
pytest==7.4.3
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.0
rumps==0.4.0
schedule==1.2.1
scikit-learn==1.2.2
scipy==1.11.3
six==1.16.0
threadpoolctl==3.2.0
tomli==2.0.1
trash-cli==0.23.11.10
tzdata==2023.3
uritemplate==3.0.1
urllib3==2.1.0
